@charset "ISO-8859-1";
.navbar {
    padding: 10px 20px;
    height:150px;
    letter-spacing:2px;
}
/* navbar.css */

.navbar-brand {
    font-size: 42px;
    transition: color 0.1s;
    letter-spacing:8px;
   font-weight:blod;
}

.navbar-brand:hover {
    color: skyblue;
    font-size: 44px;
    letter-spacing:8px;
    
}


.navbar-nav .nav-item .nav-link {
    color: #fff;
    transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #f00;
}

  
.busimg{
	width:100%;
	height:93vh;
	background:linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.5)), url(../image/bus.png);
	background-size:cover;
	color:white;
	font-size:35px;
	text-align:center;
	letter-spacing: 16px;
	font-style: italic;
}

