<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>this is about page</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>

      
        <div class="containe-fluid bg-secondary py-3">
            <div class="row text-white" >
            
		         <div class="col-md-8 sm-4 d-flex flex-row bg-warning px-4" >
		            <img class="navbar-brand ml-5" src="/image/stlogo.png" style="width: 120px; height: 80px;" alt="logo">
		            <h1 class="navbar-brand ml-5" >MSRTC Booking Service</h1>
		        </div>
         
               <div class="col-md-4 sm-4 justify-content-center align-items-center ">
		             <ul class="navbar-nav d-flex flex-row ">
		                    <li class="nav-item">
		                        <a class="nav-link" href="/home">Home</a>
		                    </li>
		                    <li class="nav-item">
		                        <a class="nav-link" href="/about">About</a>
		                    </li>
		                    <li class="nav-item">
		                        <a class="nav-link" href="/booking">Booking</a>
		                    </li>
		                    <li class="nav-item">
		                        <a class="nav-link" href="/help">Help</a>
		                    </li>
		                    <li class="nav-item">
		                        <a class="nav-link" href="/signup">Signup</a>
		                    </li>
		                </ul>
                   </div>     
            </div>    
         </div>
       
    
    
      <div class="container mt-5 bg-custom">
        <h1>About Our Bus Booking Agency</h1>
        <hr>
        <p>Welcome to our bus booking agency! We strive to provide reliable and convenient bus travel services.</p>
        <p>Our extensive network of bus operators ensures that you can easily find and book bus tickets for your desired destinations.</p>
        <p>With a focus on customer satisfaction, we aim to make your bus journey comfortable and enjoyable.</p>
        <p>Book your bus tickets with us today and experience a hassle-free travel experience with our professional staff and well-maintained buses.</p>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      
</body>
</html>

